{{!< default}}

<!-- jumbotron section -->
    <div class="bg-transparent jumbotron jumbotron-fluid mb-0 position-relative solution-wrapper">
      <div class="container">
        <div class="d-flex flex-column-reverse row">
          <div class="col-md-7 py-5 py-lg-0">
            <h1 class="font-weight-semi-bold display-5 mb-2">Asset Management</h1>
            <p class="h6 line-height text-justify">Implement asset management into your business to control operations
              with more efficiency. Factors such as a detailed data analysis and real-time data collection, offer
              various advantages for all types of organizations. Regardless of the size of your company, IT asset
              management can streamline your operations and complement your expansion.</p>
            <button class="bg-transparent btn btn-dark mt-4 no-pointer px-3 text-dark" type="submit">Contact Us <i
                class="pl-1 fa fa-angle-right"></i></button>
          </div>
          <div class="col-md-5 mobile-unset-class pos-right position-absolute px-4 solution-img">
            <img class="" src="../assets/img/asset-management/asset-management.svg" alt="asset-management">
          </div>
        </div>
      </div>
    </div>

    <div class="automate-contract-managment position-relative padding-tb-6 bg-black">
      <div class="container">
        <div class="align-items-center d-flex flex-column">
          <div class="col-md-6 py-5 mx-auto py-lg-0 text-white text-center">
            <h2 class="mb-4 font-weight-semi-bold">Complete Asset Visibility</h2>
          </div>
          <div
            class="col-md-9 d-flex flex-wrap text-center justify-content-center automate-contract-management-icons text-white">
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="../assets/img/asset-management/streamline-audit-daily-operations.svg"
                alt="streamline-audit-daily-operations" class='common-icons'>
              <span class="mt-3">Streamline audit and daily operations</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="../assets/img/asset-management/schedule-track-asset-maintenance.svg"
                alt="schedule-track-asset-maintenance" class='common-icons'>
              <span class="mt-3">Schedule and track asset maintenance</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="../assets/img/asset-management/enable-asset-recovery.svg" alt="enable-asset-recovery"
                class='common-icons'>
              <span class="mt-3">Enable asset recovery</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="../assets/img/asset-management/operate-more-efficiency.svg" alt="operate-more-efficiency"
                class='common-icons'>
              <span class="mt-3">Operate with more efficiency</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="../assets/img/asset-management/forecast-spending-budgets.svg" alt="forecast-spending-budgets"
                class='common-icons'>
              <span class="mt-3">Forecast spending and budgets</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="../assets/img/asset-management/ensure-regulatory-compliance.svg" alt="ensure-regulatory-compliance"
                class='common-icons'>
              <span class="mt-3">Ensure regulatory compliance</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="../assets/img/asset-management/enhance-data-protection.svg" alt="enhance-data-protection"
                class='common-icons'>
              <span class="mt-3">Enhance data protection</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="lower-procurement position-relative padding-tb-6 bg-light">
      <div class="container">
        <div class="align-items-center d-flex row">
          <div class="col-md-7 py-5 py-lg-0">
            <h2 class="mb-4 font-weight-semi-bold">Lower Procurement Costs</h2>
            <p class="text-justify">An asset management system makes it possible to collect and store all asset data in
              one centralized dashboard. This enables businesses to identify current trends, analyze data, build asset
              life cycles, and efficiently monitor all assets available. Having a powerful asset management system in
              place enables your assets to run at peak performance. Asset tracking can also help in minimizing the total
              costs of obtaining, maintaining, and operating the assets.</p>

            <a class="bg-transparent border-dark font-weight-semi-bold mt-4 text-info" href="javascript:void(0)">Read
              More <i class="pl-2 fa fa-arrow-circle-right"></i></a>
          </div>
          <div class="col-md-5 mobile-unset-class mt-lg-0">
            <img class="w-100 h-100 automate-img-height" src="../assets/img/asset-management/lower-procurement.svg"
              alt="lower-procurement">
          </div>
        </div>
      </div>
    </div>

    <div class="easily-locate-assets position-relative padding-tb-6">
      <div class="container">
        <div class="align-items-center d-flex row">
          <div class="col-md-5 mobile-unset-class mt-lg-0">
            <img class="w-100 h-100 automate-img-height" src="../assets/img/asset-management/easily-locate-assets.svg"
              alt="easily-locate-assets">
          </div>
          <div class="col-md-7 py-5 py-lg-0">
            <h2 class="mb-4 font-weight-semi-bold">Easily Locate Assets</h2>
            <p class="text-justify">IT organizations manage a large portion of a company’s total footprint. IT assets
              are both costly to obtain and tough to maintain. As a result, effective asset management plays a crucial
              role in helping IT teams to ensure the efficient use of their organization’s resources. Tabular can play a
              critical part in helping you capture, catalog, manage, analyze and report asset data. Asset management is
              essential to enable operational processes and decision-making on a large scale.</p>

            <a class="bg-transparent border-dark font-weight-semi-bold mt-4 text-info" href="javascript:void(0)">Contact
              Us</a>
          </div>
        </div>
      </div>
    </div>

    <div class="build-today">
      <div class="container padding-tb-6 bg-black cta-common-height d-flex align-items-center">
        <div class="d-flex">
          <div class="col-md-9 mx-auto text-center text-white">
            <h3 class="font-weight-semi-bold">Improve Employee Efficiency</h3>
            <p>Quality IT asset management software provides better visibility into existing asset inventory, powerful
              hardware configuration monitoring, simplified IT operations, and improved equipment lifetime. This can
              help your business save on costs and improve employee efficiency and accountability.</p>
            <a href="/contact-us" class="bg-white btn font-weight-semi-bold mt-4 px-4 text-dark"
              type="submit">Contact Us <i class="pl-1 fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
