{{!< default}}

 <!-- jumbotron section -->
    <div class="bg-transparent jumbotron jumbotron-fluid mb-0 position-relative solution-wrapper">
      <div class="container">
        <div class="d-flex flex-column-reverse row">
          <div class="col-md-7 py-5 py-lg-0">
            <h1 class="font-weight-semi-bold display-5 mb-2">Customer Relationship Management</h1>
            <p class="h6 line-height text-justify">CRM can help you centralize, optimize and streamline all your
              internal communication. The better you understand your customers, the stronger your relationships will be
              with them. It can be used across departments and industries to ensure that all customer-facing teams are
              empowered with the right data to create an excellent customer experience.</p>
            <button class="bg-transparent btn btn-dark mt-4 no-pointer px-3 text-dark" type="submit">Contact Us <i
                class="pl-1 fa fa-angle-right"></i></button>
          </div>
          <div class="col-md-5 mobile-unset-class pos-right position-absolute px-4 solution-img">
            <img class="" src="../assets/img/customer-relationship-management//customer-relationship-management.svg"
              alt="customer-relationship-management">
          </div>
        </div>
      </div>
    </div>

    <div class="automate-contract-managment position-relative padding-tb-6 bg-black">
      <div class="container">
        <div class="align-items-center d-flex flex-column">
          <div class="col-md-6 py-5 mx-auto py-lg-0 text-white text-center">
            <h2 class="mb-4 font-weight-semi-bold">Higher Customer Satisfaction</h2>
          </div>
          <div
            class="col-md-9 d-flex flex-wrap text-center justify-content-center automate-contract-management-icons text-white">
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="../assets/img/customer-relationship-management/enhance-customer-service.svg"
                alt="enhance-customer-service class='common-icons" class='common-icons'>
              <span class="mt-3">Enhance Customer Service</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="../assets/img/customer-relationship-management/increase-customer-revenues.svg"
                alt="increase-customer-revenues" class='common-icons'>
              <span class="mt-3">Increase Customer Revenues</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="../assets/img/customer-relationship-management/improve-customer-loyalty.svg"
                alt="improve-customer-loyalty" class='common-icons'>
              <span class="mt-3">Improve Customer Loyalty</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="../assets/img/customer-relationship-management/simplify-sales-marketing.svg"
                alt="simplify-sales-marketing" class='common-icons'>
              <span class="mt-3">Simplify Sales and Marketing</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="../assets/img/customer-relationship-management/effective-internal-communication.svg"
                alt="effective-internal-communication" class='common-icons'>
              <span class="mt-3">Effective Internal Communication</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="../assets/img/customer-relationship-management/buildup-customer-revenue.svg"
                alt="buildup-customer-revenue" class='common-icons'>
              <span class="mt-3">Build up Customer Revenue</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="../assets/img/customer-relationship-management/better-customer-retention.svg"
                alt="better-customer-retention" class='common-icons'>
              <span class="mt-3">Better Customer Retention</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="maintain-centralized-database position-relative padding-tb-6 bg-light">
      <div class="container">
        <div class="align-items-center d-flex row">
          <div class="col-md-7 py-5 py-lg-0">
            <h2 class="mb-4 font-weight-semi-bold">Maintain A Centralized Database</h2>
            <p class="text-justify">A Customer Relationship Management system helps organizations build better customer
              relationships and streamline business processes so they can increase sales, improve customer service, and
              increase profitability. It helps with contact management, sales management, productivity, and more. CRM
              enables you to focus on your organization's relationships with separate people - whether these are
              customers, service users, colleagues or suppliers. You can nurture the present forecast while building
              future predictions in a centralized database.</p>

            <a class="bg-transparent border-dark font-weight-semi-bold mt-4 text-info" href="javascript:void(0)">Read
              More <i class="pl-2 fa fa-arrow-circle-right"></i></a>
          </div>
          <div class="col-md-5 mobile-unset-class mt-lg-0">
            <img class="w-100 h-100 automate-img-height"
              src="../assets/img/customer-relationship-management/maintain-centralized.svg" alt="maintain-centralized">
          </div>
        </div>
      </div>
    </div>

    <div class="scale-your-sales padding-tb-6">
      <div class="container">
        <div class="align-items-center d-flex row">
          <div class="col-md-5 mobile-unset-class mt-lg-0">
            <img class="w-100 h-100 automate-img-height" src="../assets/img/customer-relationship-management/scale-your-sales.svg"
              alt="scale-your-sales">
          </div>
          <div class="col-md-7 py-5 py-lg-0">
            <h2 class="mb-4 font-weight-semi-bold">Scale Your Sales Processes</h2>
            <p class="text-justify">With Tabular, you can get a clear overview of your customers. Everything from a
              simple, customizable dashboard that can share a customer's history with you, the status of their orders,
              any outstanding customer service issues, and more can be viewed from one single space. One of the prime
              benefits of CRM is that it can help you identify and add new leads easily and lets you categorize them
              accurately. You can create customized pitch documents in record time, cut down on response time, and
              enable sales teams to move on to the next opportunity.</p>

            <a class="bg-transparent border-dark font-weight-semi-bold mt-4 text-info" href="javascript:void(0)">Contact
              Us</a>
          </div>
        </div>
      </div>
    </div>

    <div class="build-today">
      <div class="container padding-tb-6 bg-black cta-common-height d-flex align-items-center">
        <div class="d-flex">
          <div class="col-md-9 mx-auto text-center text-white">
            <h3 class="font-weight-semi-bold">Build Stronger Relationships</h3>
            <p>Finding customers for your business is not easy. Once you find them, there comes another challenge –
              Establishing a strong relationship with them. The benefits of a Customer Relationship Management system go
              beyond running a business and its relationships. CRM improves the quality and consistency of your customer
              relationships.</p>
            <a href="/contact-us" class="bg-white btn font-weight-semi-bold mt-4 px-4 text-dark"
              type="submit">Contact Us <i class="pl-1 fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>