{{!< default}}

<!-- jumbotron section -->
    <div class="bg-transparent jumbotron jumbotron-fluid mb-0 solution-wrapper position-relative">
      <div class="container">
        <div class="d-flex flex-column-reverse row">
          <div class="col-md-7 py-5 py-lg-0">
            <h1 class="font-weight-semi-bold display-5 mb-2">Human Resource Management</h1>
            <p class="h6 line-height text-justify">Using an effective HR strategy that is concerned with the
              organization's goals and missions has multiple benefits for the company. HRM helps maintain compliant
              information, increases HR productivity by automating routine processes and gives the company complete
              workforce visibility to optimize engagement and performance.</p>
            <button class="bg-transparent btn btn-dark mt-4 no-pointer px-3 text-dark" type="submit">Contact Us <i
                class="pl-1 fa fa-angle-right"></i></button>
          </div>
          <div class="col-md-5 mobile-unset-class pos-right position-absolute px-4 solution-img">
            <img class="" src="../assets/img/human-resource-management/human-resource-management.svg"
              alt="human-resource-management">
          </div>
        </div>
      </div>
    </div>

    <div class="automate-contract-managment position-relative padding-tb-6 bg-black">
      <div class="container">
        <div class="align-items-center d-flex flex-column">
          <div class="col-md-6 py-5 mx-auto py-lg-0 text-white text-center">
            <h2 class="mb-4 font-weight-semi-bold">Monitor Business Progress</h2>
          </div>
          <div
            class="col-md-9 d-flex flex-wrap text-center justify-content-center automate-contract-management-icons text-white">
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="../assets/img/human-resource-management/recruitment-selection.svg" alt="recruitment-selection"
                class='common-icons'>
              <span class="mt-3">Recruitment and Selection</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="../assets/img/human-resource-management/performance-management.svg" alt="performance-management"
                class='common-icons'>
              <span class="mt-3">Performance Management</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="../assets/img/human-resource-management/learning-development.svg" alt="learning-development"
                class='common-icons'>
              <span class="mt-3">Learning and Development</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="../assets/img/human-resource-management/succession-planning.svg" alt="succession-planning"
                class='common-icons'>
              <span class="mt-3">Succession Planning</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="../assets/img/human-resource-management/compensation-benefits.svg" alt="compensation-benefits"
                class='common-icons'>
              <span class="mt-3">Compensation and Benefits</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="../assets/img/human-resource-management/human-resources-information-systems.svg"
                alt="human-resources-information-systems" class='common-icons'>
              <span class="mt-3">Human Resources Information Systems</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="../assets/img/human-resource-management/hr-data-analytics.svg" alt="hr-data-analytics"
                class='common-icons'>
              <span class="mt-3">HR data and Analytics</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="improve-functional-efficiency position-relative padding-tb-6 bg-light">
      <div class="container">
        <div class="align-items-center d-flex row">
          <div class="col-md-7 py-5 py-lg-0">
            <h2 class="mb-4 font-weight-semi-bold">Improve Employee Engagement</h2>
            <p class="text-justify">HRM offers several solutions that help organizations manage their day-to-day HR
              activities efficiently. HR processes compliance-driven and performing them manually is a highly
              time-consuming task. Human Resource Management tools leverage business automation, allowing HR staff to
              save time, cut costs, and manage employees easily. Tabular can handle all core HR processes from new hires
              to employee exit interviews, and more.</p>

            <a class="bg-transparent border-dark font-weight-semi-bold mt-4 text-info" href="javascript:void(0)">Read
              More <i class="pl-2 fa fa-arrow-circle-right"></i></a>
          </div>
          <div class="col-md-5 mobile-unset-class mt-lg-0">
            <img class="w-100 h-100 automate-img-height" src="../assets/img/human-resource-management/improve-employee.svg"
              alt="improve-employee">
          </div>
        </div>
      </div>
    </div>

    <div class="influence position-relative padding-tb-6">
      <div class="container">
        <div class="align-items-center d-flex row">
          <div class="col-md-5 mobile-unset-class mt-lg-0">
            <img class="w-100 h-100 automate-img-height" src="../assets/img/human-resource-management/influence.svg"
              alt="influence">
          </div>
          <div class="col-md-7 py-5 py-lg-0">
            <h2 class="mb-4 font-weight-semi-bold">Influence Organizational Culture</h2>
            <p class="text-justify">Based on requirements, businesses can either opt for a simple solution that
              addresses administrative tasks like vacation management and timesheet management or something that handles
              strategic HR areas like recruitment and performance management. This also includes applicant management,
              employee management, timesheets, payroll, benefits, and compensation. HRM enables you to manage your
              organization on a large scale.</p>

            <a class="bg-transparent border-dark font-weight-semi-bold mt-4 text-info" href="javascript:void(0)">Contact
              Us</a>
          </div>
        </div>
      </div>
    </div>

    <div class="build-today">
      <div class="container padding-tb-6 bg-black cta-common-height d-flex align-items-center">
        <div class="d-flex">
          <div class="col-md-9 mx-auto text-center text-white">
            <h3 class="font-weight-semi-bold">Maintain Company Standards</h3>
            <p>Human Resource Management helps bridge the gap between employees’ performance and the organization's
              strategic objectives. Good HRM has everything to do with your employees, hence is pivotal for the success
              of your business and can give your organization an edge over the competition.</p>
            <a href="/contact-us" class="bg-white btn font-weight-semi-bold mt-4 px-4 text-dark"
              type="submit">Contact Us <i class="pl-1 fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>