{{!< default}}

<!-- jumbotron section -->
    <div
      class="jumbotron jumbotron-fluid mb-0 position-relative bg-black padding-tb-8 demo-form-overlap padding-tb-3 mb-5 mb-md-0">
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-10 mx-auto text-center text-white">
            <h1 class="font-weight-semi-bold display-5">Unleash the power of <br> Tabular for your business.</h1>
          </div>
        </div>

      </div>
    </div>

    <div class="demo-section">
      <div class="container">
        <div class="card col-12 col-lg-6 col-md-10 mx-auto wrapper-margin">
          <form class="py-5 p-md-5">
            <h3 class="font-weight-semi-bold display-5 text-center">Request a Demo</h3>
            <p class="my-4 text-center">Connect your people, processes and systems with <br> intellignet process
              automation.</p>
            <div class="form-group">
              <input type="text" class="form-control" id="" placeholder="First Name">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="" placeholder="Last name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="" placeholder="Company Name">
            </div>
            <div class="form-group">
              <input type="number" class="form-control" id="" placeholder="Number Of Employees">
            </div>
            <div class="form-group">
              <input type="number" class="form-control" id="" placeholder="Phone Number">
            </div>
            <textarea name="" id="" cols="4" class="form-control"></textarea>
            <div class="form-group form-check mt-2">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label small" for="exampleCheck1">By providing us with contact information, you
                agree to the
                terms of our <a href="#!">Privacy Policy</a> and <a href="#!">Terms of Service.</a>
              </label>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn bg-black text-white px-3">Schedule A Demo</button>
            </div>
          </form>
        </div>
      </div>
    </div>