{{!< default}}

<!-- jumbotron section -->
    <div class="bg-transparent mb-0 padding-tb-6">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto text-center">
            <h1 class="font-weight-semi-bold display-5">Join the <br> no-code revolution</h1>
            <img class="p-5 w-75" src="../assets/img/revolution.svg" alt="no-code-revolution">
            <p>
              Today, data drives everything and has become a vital and valuable resource in every organization. How do
              you know what data you should be collecting, and how best to put that data to work rather than letting it
              use up space in your servers?
            </p>
            <p>
              With just a few clicks, Tabular translates your processes into projects and tasks with built in automation
              bots and dynamic forms, accessible via mobile and web. There’s no need to worry about servers, databases,
              security, scalability - Tabular does all the heavy lifting for you.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="data-make-diffrence bg-light padding-tb-6">
      <div class="container">
        <div class="row">
          <div class="border-0 col-lg-6 col-12 px-0 rounded-0 mb-5 mb-lg-0">
            <img class="w-100 data-make-diffrence-img" src="../assets/img/Illustration.svg" alt="data-make-a-diffrence">
          </div>
          <div class="col-lg-6 col-12">
            <h1 class="mb-4 font-weight-semi-bold">Data that makes a <br> difference</h1>
            <p class="text-justify">Every organization has faced issues in creating an effective data management system
              across different channel platforms that are somehow restricting their growth in today’s competitive
              business world.</p>
            <p class="text-justify">Tabular applications accelerate the delivery of key insights, assist in rapid
              decision making, reduce execution timelines, and automate repetitive error-prone manual tasks.
            </p>

            <div class="accordion" id="accordionExample">
              <div class="item">
                <div class="item-header" id="headingOne">
                  <h2 class="mb-0 bg-white">
                    <button class="btn btn-link shadow-sm" type="button" data-toggle="collapse"
                      data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Improve Process Efficiency
                      <i class="fa fa-angle-down"></i>
                    </button>
                  </h2>
                </div>
                <div id="collapseOne" class="collapse px-3 show" aria-labelledby="headingOne"
                  data-parent="#accordionExample">
                  <ul class="">
                    <li class="py-2">
                      Reactive Workflows and Approvals
                    </li>
                    <li class="py-2">
                      Project and Document Management
                    </li>
                    <li class="py-2">
                      Data Integrations
                    </li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="item-header" id="headingTwo">
                  <h2 class="mb-0 bg-white">
                    <button class="btn btn-link collapsed shadow-sm" type="button" data-toggle="collapse"
                      data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Drive Collaboration and Engagement
                      <i class="fa fa-angle-down"></i>
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse px-3" aria-labelledby="headingTwo"
                  data-parent="#accordionExample">
                  <ul class="">
                    <li class="py-2">
                      Task Management
                    </li>
                    <li class="py-2">
                      Real-time Communication
                    </li>
                    <li class="py-2">
                      Interactive Forms
                    </li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="item-header" id="headingThree">
                  <h2 class="mb-0 bg-white">
                    <button class="btn btn-link collapsed shadow-sm" type="button" data-toggle="collapse"
                      data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Make Data Actionable and Derive Insights
                      <i class="fa fa-angle-down"></i>
                    </button>
                  </h2>
                </div>
                <div id="collapseThree" class="collapse px-3" aria-labelledby="headingThree"
                  data-parent="#accordionExample">
                  <ul class="">
                    <li class="py-2">
                      Drill-down Reporting
                    </li>
                    <li class="py-2">
                      Prescriptive and Predictive Analytics
                    </li>
                    <li class="py-2">
                      Prescriptive and Predictive Analytics
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="build-today">
      <div class="container padding-tb-6 bg-black cta-common-height d-flex align-items-center">
        <div class="row mx-0">
          <div class="col-md-9 mx-auto text-center text-white">
            <h3 class="font-weight-semi-bold">Give your data a better world</h3>
            <p class="font-weight-light">There is no doubt that enterprise data management is delivering value for businesses worldwide. Deliver data like never before with Tabular</p>
            <a class="bg-white btn font-weight-semi-bold px-3 text-dark border-dark" type="submit" href="/request-a-demo">Request A Demo <i class="pl-1 fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>