{{!< default}}

<!-- jumbotron section -->
    <div class="jumbotron jumbotron-fluid mb-0 position-relative bg-black padding-tb-8 padding-tb-3 demo-form-overlap">
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-8 mx-auto text-center text-white">
            <h1 class="font-weight-semi-bold display-5">Contact Us</h1>
            <p class="font-weight-light mb-0">Our business process engineers and system consulting team are standing by
              to help you. Get in touch with us today to know how Tabular can help streamline your business operations.
            </p>
          </div>
        </div>

      </div>
    </div>

    <div class="demo-section">
      <div class="container">
        <div class="bg-transparent col-md-9 mx-auto wrapper-margin">
          <div class="d-flex flex-column">
            <div class="d-flex flex-row flex-wrap col-md-8 mx-auto">
              <div class="col-12 col-md-6 text-white text-center mob-resp-text-dark">
                <div class="py-3">
                  <img src="../assets/img/email.svg" alt="email" class="common-icons">
                  <h6 class="pt-2 pb-1"> Email</h6>
                    <a href="mailto:talk@tabularapps.com" class="h6 text-decoration-none text-white mob-resp-text-dark">talk@tabularapps.com</a>
                 </div>
              </div>
              <div class="col-12 col-md-6 text-white text-center mob-resp-text-dark">
                <div class="py-3">
                  <img src="../assets/img/phone-call.svg" alt="phone" class="common-icons">
                  <h6 class="pt-2 pb-1"> Phone Number</h6>
                  <a href="tel:+1(204)-272-0299" class="h6 text-decoration-none text-white mob-resp-text-dark">
                    +1 (214) 272-0299</a>
                </div>
              </div>
            </div>

            <div class="d-flex flex-row flex-wrap">
              <div class="d-flex col-12 col-lg-6 mx-auto text-center my-lg-5 my-3">
                <div class="card px-4 py-5">
                  <img src="../assets/img/usa.svg" alt="usa" class="address-icons">
                  <span class="py-3">USA</span>
                  <address class="pb-0">
                    9600 Great Hills Trail, Suite 150W, Austin, Texas, 78759, USA
                  </address>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="lets-conntact my-5">
      <div class="container">
        <div class="card col-12 col-lg-8 col-md-10 mx-auto">
          <form class="py-5 px-md-3">
            <h3 class="font-weight-semi-bold display-5 text-center">Let's Connect</h3>
            <p class="my-4 text-center">Please fill out the quick form below with the query and we will get back to you as soon as possible.</p>
            <div class="row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="" placeholder="First Name">
              </div>
              <div class="form-group col-md-6">
                <input type="password" class="form-control" id="" placeholder="Last name">
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" id="" placeholder="Email">
              </div>
              <div class="form-group col-md-6">
                <input type="number" class="form-control" id="" placeholder="Phone Number">
              </div>
            </div>

            <textarea name="" id="" cols="4" class="form-control"></textarea>

            <div class="d-flex justify-content-center pt-5">
              <button type="submit" class="btn bg-black text-white px-3">Submit</button> 
            </div>
          </form>
        </div>
      </div>
    </div>