{{!< default}}

<div class="bg-transparent jumbotron jumbotron-fluid mb-0 solution-wrapper position-relative">
  <div class="container">
    <div class="d-flex flex-column-reverse row">
      <div class="col-md-7 py-5 py-lg-0">
        <h1 class="font-weight-semi-bold display-5 mb-2">Contract Management</h1>
        <p class="h6 line-height text-justify">With good contract management, you can reduce the amount of time and
          resources required to manage and administer all your contracts. Whether you are a small, medium, or large
          organization, you can use Tabular to manage, track, and automate every single step within your contract
          lifecycle.</p>
        <button class="bg-transparent btn btn-dark mt-4 no-pointer px-3 text-dark" type="submit">Contact Us <i
            class="pl-1 fa fa-angle-right"></i></button>
      </div>
      <div class="col-md-5 mobile-unset-class pos-right position-absolute px-4 solution-img">
        <img class="" src="../assets/img/contract-management/contract-management.svg" alt="contract-management">
      </div>
    </div>
  </div>
</div>

<div class="automate-contract-managment position-relative padding-tb-6 bg-black">
  <div class="container">
    <div class="align-items-center d-flex flex-column">
      <div class="col-md-6 py-5 mx-auto py-lg-0 text-white text-center">
        <h2 class="mb-4 font-weight-semi-bold">Systematic and automated contract management</h2>
      </div>
      <div
        class="col-md-9 d-flex flex-wrap text-center justify-content-center automate-contract-management-icons text-white">
        <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
          <img src="../assets/img/contract-management/shorten-approval-times.svg" alt="shorten-approval-times"
            class='common-icons'>
          <span class="mt-3">Shorten Approval Times</span>
        </div>
        <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
          <img src="../assets/img/contract-management/increase-contract-visibility.svg" alt="increase-contract-visibility"
            class='common-icons'>
          <span class="mt-3">Increase Contract Visibility</span>
        </div>
        <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
          <img src="../assets/img/contract-management/improve-audit-preparation.svg" alt="improve-audit-preparation"
            class='common-icons'>
          <span class="mt-3">Improve Audit Preparation</span>
        </div>
        <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
          <img src="../assets/img/contract-management/never-miss-renewal-date.svg" alt="never-miss-renewal-date"
            class='common-icons'>
          <span class="mt-3">Never Miss a Renewal Date</span>
        </div>
        <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
          <img src="../assets/img/contract-management/ensure-contract-compliance.svg" alt="ensure-contract-compliance"
            class='common-icons'>
          <span class="mt-3">Ensure Contract Compliance</span>
        </div>
        <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
          <img src="../assets/img/contract-management/improve-document-management.svg" alt="improve-document-management"
            class='common-icons'>
          <span class="mt-3">Improve Document Management</span>
        </div>
        <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
          <img src="../assets/img/contract-management/improve-commitment-completion.svg" alt="improve-commitment-completion"
            class='common-icons'>
          <span class="mt-3">Improve Commitment to Completion</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="improve-functional-efficiency position-relative padding-tb-6 bg-light">
  <div class="container">
    <div class="align-items-center d-flex row">
      <div class="col-md-7 py-5 py-lg-0">
        <h2 class="mb-4 font-weight-semi-bold">Improve functional efficiency</h2>
        <p class="text-justify">Companies often invest in contract management when they reach a sufficient size, or
          better stage of growth, which means contract volumes are probably growing out of control. When risks
          increase rapidly, it’s a good time to take control of the process. An efficient Contract Management system
          is vital for the creation, negotiation, signature, renewal, and data analysis of all your legal contracts.
          It enables business teams to take control and manage routine contracts at scale from one platform.</p>

        <a class="bg-transparent border-dark font-weight-semi-bold mt-4 text-info" href="javascript:void(0)">Read
          More <i class="pl-2 fa fa-arrow-circle-right"></i></a>
      </div>
      <div class="col-md-5 mobile-unset-class mt-lg-0">
        <img class="w-100 h-100 automate-img-height" src="../assets/img/contract-management/improve-functional.svg"
          alt="improve-functional-efficiency">
      </div>
    </div>
  </div>
</div>

<div class="standardize-managment-process position-relative padding-tb-6">
  <div class="container">
    <div class="align-items-center d-flex row">
      <div class="col-md-5 mobile-unset-class mt-lg-0">
        <img class="w-100 h-100 automate-img-height" src="../assets/img/contract-management/standardize-contract.svg"
          alt="standardize-managment-process">
      </div>
      <div class="col-md-7 py-5 py-lg-0">
        <h2 class="mb-4 font-weight-semi-bold">Drive your performance</h2>
        <p class="text-justify">Given how critical contracts are, contract management can dramatically improve your
          business performance. With Tabular, you can derive crucial insights from your contract management system,
          forecast costs, revenues, and more. Finding, tracking, and evaluating contracts is just a few clicks away.
        </p>

        <a class="bg-transparent border-dark font-weight-semi-bold mt-4 text-info" href="javascript:void(0)">Contact
          Us</a>
      </div>
    </div>
  </div>
</div>

<div class="build-today">
  <div class="container padding-tb-6 bg-black cta-common-height d-flex align-items-center">
    <div class="d-flex">
      <div class="col-md-9 mx-auto text-center text-white">
        <h3 class="font-weight-semi-bold">Drive your performance</h3>
        <p>Given how critical contracts are, contract management can dramatically improve your business performance. With Tabular, you can derive crucial insights from your contract management system, forecast costs, revenues, and more. Finding, tracking, and evaluating contracts is just a few clicks away.</p>
        <a class="bg-white btn font-weight-semi-bold px-3 text-dark border-dark" type="submit" href="/request-a-demo">Request A Demo <i class="pl-1 fa fa-angle-right"></i></a>
      </div>
    </div>
  </div>
</div>