{{!< default}}

<!-- jumbotron section -->
    <div class="bg-transparent jumbotron jumbotron-fluid mb-0 position-relative solution-wrapper">
      <div class="container">
        <div class="d-flex flex-column-reverse row">
          <div class="col-md-7 py-5 py-lg-0">
            <h1 class="font-weight-semi-bold display-5 mb-2">Project Management</h1>
            <p class="h6 line-height text-justify">Project management tools comes with all the required features you
              need to efficiently plan your projects, manage available resources, respond to problems, and keep project
              stakeholders involved. Irrespective of the type of services your organization offers, using the right
              project management software can make a significant impact.</p>
            <button class="bg-transparent btn btn-dark mt-4 no-pointer px-3 text-dark" type="submit">Contact Us <i
                class="pl-1 fa fa-angle-right"></i></button>
          </div>
          <div class="col-md-5 mobile-unset-class pos-right position-absolute px-4 solution-img">
            <img class="" src="../assets/img/project-management/project-management.svg" alt="project-management">
          </div>
        </div>
      </div>
    </div>

    <div class="project-management position-relative padding-tb-6 bg-black">
      <div class="container">
        <div class="align-items-center d-flex flex-column">
          <div class="col-md-6 py-5 mx-auto py-lg-0 text-white text-center">
            <h2 class="mb-4 font-weight-semi-bold">Effortless project planning</h2>
          </div>
          <div
            class="col-md-9 d-flex flex-wrap text-center justify-content-center automate-contract-management-icons text-white">
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="./img/project-management/better-task-management.svg" alt="better-task-management"
                class='common-icons'>
              <span class="mt-3">Better task management</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="./img/project-management/risk-identification-reduction.svg" alt="risk-identification-reduction"
                class='common-icons'>
              <span class="mt-3">Risk identification and reduction</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="./img/project-management/effective-client-communication.svg"
                alt="effective-client-communication" class='common-icons'>
              <span class="mt-3">Effective client communication </span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="./img/project-management/time-management.svg" alt="time-management" class='common-icons'>
              <span class="mt-3">Time management</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="./img/project-management/budget-management.svg" alt="budget-management" class='common-icons'>
              <span class="mt-3">Budget management</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="./img/project-management/file-organization.svg" alt="file-organization" class='common-icons'>
              <span class="mt-3">File organization</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="./img/project-management/easier-collaboration.svg" alt="easier-collaboration"
                class='common-icons'>
              <span class="mt-3">Easier collaboration</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="access-projects-anytime position-relative padding-tb-6 bg-light">
      <div class="container">
        <div class="align-items-center d-flex row">
          <div class="col-md-7 py-5 py-lg-0">
            <h2 class="mb-4 font-weight-semi-bold">Access Projects Anytime Anywhere</h2>
            <p class="text-justify">Project Management software helps your organization manage projects better. It
              allows you to create charts, make reports, share documents, track budgets, allocate resources, manage
              tasks, plan projects and communicate with your team. From tracking down project deliverables to managing
              business resources, and from budget management to collaboration with your team, there is a lot to be
              considered when taking care of projects. Tabular puts all the necessary tools required for planning,
              collaborating, organizing, and delivering projects at one single space.</p>

            <a class="bg-transparent border-dark font-weight-semi-bold mt-4 text-info" href="javascript:void(0)">Read
              More <i class="pl-2 fa fa-arrow-circle-right"></i></a>
          </div>
          <div class="col-md-5 mobile-unset-class mt-lg-0">
            <img class="w-100 h-100 automate-img-height" src="../assets/img/project-management/access-projects-anytime.svg"
              alt="access-projects-anytime">
          </div>
        </div>
      </div>
    </div>

    <div class="teamwork-best position-relative padding-tb-6">
      <div class="container">
        <div class="align-items-center d-flex row">
          <div class="col-md-5 mobile-unset-class mt-lg-0">
            <img class="w-100 h-100 automate-img-height" src="../assets/img/project-management/teamwork-best.svg"
              alt="teamwork-best">
          </div>
          <div class="col-md-7 py-5 py-lg-0">
            <h2 class="mb-4 font-weight-semi-bold">Teamwork At its Best</h2>
            <p class="text-justify">Project Management Software is used by a variety of industries for efficient project
              planning, resource allocation, and scheduling. Regardless of the business or the type of industry, it can
              be easily customized and tweaked to meet the requirements of any organization. It enables teams to control
              their budget, manage quality and view all documentation exchanged throughout a project. You can always
              rely on a project management to divide projects into easily manageable tasks.</p>

            <a class="bg-transparent border-dark font-weight-semi-bold mt-4 text-info" href="javascript:void(0)">Contact
              Us</a>
          </div>
        </div>
      </div>
    </div>

    <div class="build-today">
      <div class="container padding-tb-6 bg-black cta-common-height d-flex align-items-center">
        <div class="d-flex">
          <div class="col-md-9 mx-auto text-center text-white">
            <h3 class="font-weight-semi-bold">Streamline work and enhance productivity</h3>
            <p>Good project management will help you collaborate effectively and ensure that your projects are
              successful. It integrates all the necessary tools required to help managers to accomplish their everyday
              tasks in a better way. Plan, collaborate, organize, and deliver all your projects on time using Tabular.
            </p>
            <a href="/contact-us" class="bg-white btn font-weight-semi-bold mt-4 px-4 text-dark"
              type="submit">Contact Us <i class="pl-1 fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>