{{!< default}}

<!-- jumbotron section -->
    <div class="bg-transparent jumbotron jumbotron-fluid mb-0 position-relative solution-wrapper">
      <div class="container">
        <div class="d-flex flex-column-reverse row">
          <div class="col-md-7 py-5 py-lg-0">
            <h1 class="font-weight-semi-bold display-5 mb-2">Built for every enterprise</h1>
            <p class="h6 line-height text-justify">Run powerful enterprise-grade applications that your people and
              systems can always rely on. Integrate applications with prime databases and software, track application
              and user data, and set governance policies from one centralized location. Give your workforce ownership
              over their own processes and watch the magic unravel – All without having to write a single line of code.
            </p>
            <button class="bg-transparent btn btn-dark mt-4 no-pointer px-3 text-dark" type="submit">Get Started <i
                class="pl-1 fa fa-angle-right"></i></button>
          </div>
          <div class="col-md-5 mobile-unset-class pos-right position-absolute px-4 solution-img">
            <img class="" src="../assets/img/solutions-banner-image.svg" alt="solution-banner-img">
          </div>
        </div>
      </div>
    </div>

    <div class="contract-managment position-relative padding-tb-6 bg-light">
      <div class="container">
        <div class="align-items-center d-flex row">
          <div class="col-md-7 py-5 py-lg-0">
            <h2 class="mb-4 font-weight-semi-bold">Contract Management</h2>
            <p class="text-justify">With good contract management, you can reduce the amount of time and resources
              required to manage and administer all your contracts. Whether you are a small, medium, or large
              organization, you can use Tabular to manage, track, and automate every single step within your contract
              lifecycle</p>

            <a class="bg-transparent border-dark font-weight-semi-bold mt-4 text-info"
              href="/contract-management">Read More <i class="pl-2 fa fa-arrow-circle-right"></i></a>
          </div>
          <div class="col-md-5 mobile-unset-class mt-lg-0">
            <img class="w-100 h-100 automate-img-height" src="../assets/img/contract-management.svg" alt="contract management">
          </div>
        </div>
      </div>
    </div>

    <div class="human-resource-managment position-relative padding-tb-6">
      <div class="container">
        <div class="align-items-center d-flex row">
          <div class="col-md-5 mobile-unset-class mt-lg-0">
            <img class="w-100 h-100 automate-img-height" src="../assets/img/human-resource-management.svg"
              alt="human-resource-management">
          </div>
          <div class="col-md-7 py-5 py-lg-0">
            <h2 class="mb-4 font-weight-semi-bold">Human Resource Management</h2>
            <p class="text-justify">Using an effective HR strategy that is concerned with the organization's goals and
              missions has multiple benefits for the company. HRM helps maintain compliant information, increases HR
              productivity by automating routine processes and gives the company complete workforce visibility to
              optimize engagement and performance.</p>

            <a class="bg-transparent border-dark font-weight-semi-bold mt-4 text-info"
              href="/human-resource-management">Read More <i class="pl-2 fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="customer-relationship-managment position-relative padding-tb-6 bg-light">
      <div class="container">
        <div class="align-items-center d-flex row">
          <div class="col-md-7 py-5 py-lg-0">
            <h2 class="mb-4 font-weight-semi-bold">Customer Relationship Management</h2>
            <p class="text-justify">CRM can help you centralize, optimize and streamline all your internal
              communication. The better you understand your customers, the stronger your relationships will be with
              them. It can be used across departments and industries to ensure that all customer-facing teams are
              empowered with the right data to create an excellent customer experience</p>

            <a class="bg-transparent border-dark font-weight-semi-bold mt-4 text-info"
              href="/customer-relationship-management">Read More <i class="pl-2 fa fa-arrow-circle-right"></i></a>
          </div>
          <div class="col-md-5 mobile-unset-class mt-lg-0">
            <img class="w-100 h-100 automate-img-height" src="../assets/img/customer-relationship-management.svg"
              alt="customer-replationship-management">
          </div>
        </div>
      </div>
    </div>

    <div class="training-managment position-relative padding-tb-6">
      <div class="container">
        <div class="align-items-center d-flex row">
          <div class="col-md-5 mobile-unset-class mt-lg-0">
            <img class="w-100 h-100 automate-img-height" src="../assets/img/training-management.svg" alt="training-management">
          </div>
          <div class="col-md-7 py-5 py-lg-0">
            <h2 class="mb-4 font-weight-semi-bold">Training Management</h2>
            <p class="text-justify">Employee training management software is used by organizations to provide online
              learning to their staff and ensure rapid deployment, high-quality of content delivery, and ease of use. It
              can fulfill the training needs of businesses from various industries, and businesses of different sizes.
              Take team training to the next level with Tabular.</p>

            <a class="bg-transparent border-dark font-weight-semi-bold mt-4 text-info"
              href="/training-management">Read More <i class="pl-2 fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="project-managment position-relative padding-tb-6 bg-light">
      <div class="container">
        <div class="align-items-center d-flex row">
          <div class="col-md-7 py-5 py-lg-0">
            <h2 class="mb-4 font-weight-semi-bold">Project Management</h2>
            <p class="text-justify">Project management tools comes with all the required features you need to
              efficiently plan your projects, manage available resources, respond to problems, and keep project
              stakeholders involved. Irrespective of the type of services your organization offers, using the right
              project management software can make a significant impact.</p>

            <a class="bg-transparent border-dark font-weight-semi-bold mt-4 text-info"
              href="/project-management">Read More <i class="pl-2 fa fa-arrow-circle-right"></i></a>
          </div>
          <div class="col-md-5 mobile-unset-class mt-lg-0">
            <img class="w-100 h-100 automate-img-height" src="../assets/img/project-management.svg" alt="project-management">
          </div>
        </div>
      </div>
    </div>

    <div class="asset-managment position-relative padding-tb-6">
      <div class="container">
        <div class="align-items-center d-flex row">
          <div class="col-md-5 mobile-unset-class mt-lg-0">
            <img class="w-100 h-100 automate-img-height" src="../assets/img/asset-management.svg" alt="asset-management">
          </div>
          <div class="col-md-7 py-5 py-lg-0">
            <h2 class="mb-4 font-weight-semi-bold">Asset Management</h2>
            <p class="text-justify">Implement asset management into your business to control operations with more
              efficiency. Factors such as a detailed data analysis and real-time data collection, offer various
              advantages for all types of organizations. Regardless of the size of your company, IT asset management can
              streamline your operations and complement your expansion. </p>

            <a class="bg-transparent border-dark font-weight-semi-bold mt-4 text-info" href="/asset-management">Read
              More <i class="pl-2 fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="data-analytics position-relative padding-tb-6 bg-light">
      <div class="container">
        <div class="align-items-center d-flex row">
          <div class="col-md-7 py-5 py-lg-0">
            <h2 class="mb-4 font-weight-semi-bold">Data Analytics</h2>
            <p class="text-justify">Data analytics can help your business with everything from personalizing a marketing
              pitch to identifying and mitigating risks. You can get real-time insights about sales and finance,
              marketing, product development, and more. Turn your data into actionable insights, improve your campaigns,
              personalize your content and reach your business goals.</p>

            <a class="bg-transparent border-dark font-weight-semi-bold mt-4 text-info" href="/data-analytics">Read
              More <i class="pl-2 fa fa-arrow-circle-right"></i></a>
          </div>
          <div class="col-md-5 mobile-unset-class mt-lg-0">
            <img class="w-100 h-100 automate-img-height" src="../assets/img/data-analytics.svg" alt="data-analytics">
          </div>
        </div>
      </div>
    </div>

    <div class="inventory-managment position-relative padding-tb-6">
      <div class="container">
        <div class="align-items-center d-flex row">
          <div class="col-md-5 mobile-unset-class mt-lg-0">
            <img class="w-100 h-100 automate-img-height" src="../assets/img/warehouse-Inventory-management.svg"
              alt="warehouse-Inventory-management">
          </div>
          <div class="col-md-7 py-5 py-lg-0">
            <h2 class="mb-4 font-weight-semi-bold">Warehouse Inventory Management </h2>
            <p class="text-justify">Effective warehouse management is more than just simple data. It's a staging ground
              for a customized set of solutions for your business workflow. An inventory management system brings
              together teams beyond your warehouse walls, looping in sales, engineering, IT, and others to create
              transparency and cooperation across the board.</p>

            <a class="bg-transparent border-dark font-weight-semi-bold mt-4 text-info"
              href="/warehouse-inventory-management">Read More <i class="pl-2 fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="build-today">
      <div class="container padding-tb-6 bg-black cta-common-height d-flex align-items-center">
        <div class="d-flex">
          <div class="col-md-9 mx-auto text-center text-white">
            <h3 class="font-weight-semi-bold">Ready to launch in minutes</h3>
            <p>Create custom solutions that enable your organization to grow and evolve at today’s speed of change.
              Obtain real-time insights and automate through complex workflows by connecting your systems, data and
              people. Rapidly design, deploy and update business processes in an easy-to-use platform specially built
              for all business users to effectively manage their own workflow. </p>
            <a href="/contact-us" class="bg-white btn font-weight-semi-bold mt-4 px-4 text-dark"
              type="submit">Contact Us <i class="pl-1 fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>