{{!< default}}

<!-- jumbotron section -->
    <div class="bg-transparent jumbotron jumbotron-fluid mb-0 position-relative solution-wrapper">
      <div class="container">
        <div class="d-flex flex-column-reverse row">
          <div class="col-md-7 py-5 py-lg-0">
            <h1 class="font-weight-semi-bold display-5 mb-2">Training Management </h1>
            <p class="h6 line-height text-justify">Employee training management software is used by organizations to
              provide online learning to their staff and ensure rapid deployment, high-quality of content delivery, and
              ease of use. It can fulfill the training needs of businesses from various industries, and businesses of
              different sizes. Take team training to the next level with Tabular.</p>
            <button class="bg-transparent btn btn-dark mt-4 no-pointer px-3 text-dark" type="submit">Contact Us <i
                class="pl-1 fa fa-angle-right"></i></button>
          </div>
          <div class="col-md-5 mobile-unset-class pos-right position-absolute px-4 solution-img">
            <img class="" src="../assets/img/training-management/training-management.svg" alt="training-management">
          </div>
        </div>
      </div>
    </div>

    <div class="training-management position-relative padding-tb-6 bg-black">
      <div class="container">
        <div class="align-items-center d-flex flex-column">
          <div class="col-md-6 py-5 mx-auto py-lg-0 text-white text-center">
            <h2 class="mb-4 font-weight-semi-bold">Make Training Collaborative </h2>
          </div>
          <div
            class="col-md-9 d-flex flex-wrap text-center justify-content-center automate-contract-management-icons text-white">
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="../assets/img/training-management/organize-e-learning-location.svg" alt="organize-e-learning-location"
                class='common-icons'>
              <span class="mt-3">Organize e-learning in one location</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="../assets/img/training-management/unlimited-access-e-learning-materials.svg"
                alt="unlimited-access-e-learning-materials" class='common-icons'>
              <span class="mt-3">Unlimited access to e-learning materials</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="../assets/img/training-management/track-learner-progress-performance.svg"
                alt="track-learner-progress-performance" class='common-icons'>
              <span class="mt-3">Track learner progress and performance</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="../assets/img/training-management/reduce-learning-development-costs.svg"
                alt="reduce-learning-development-costs" class='common-icons'>
              <span class="mt-3">Reduce Learning and Development costs</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="../assets/img/training-management/stay-up-to-date.svg" alt="stay-up-to-date" class='common-icons'>
              <span class="mt-3">Stay up-to-date with compliance regulations</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="../assets/img/training-management/improve-employee-communication-engagement.svg"
                alt="improve-employee-communication-engagement" class='common-icons'>
              <span class="mt-3">Improve employee communication and engagement</span>
            </div>
            <div class="p-2 col-md-3 d-flex flex-column align-items-center my-3">
              <img src="../assets/img/training-management/provide-professional-development-opportunities.svg"
                alt="provide-professional-development-opportunities" class='common-icons'>
              <span class="mt-3">Provide professional development opportunities</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="improve-internal position-relative padding-tb-6 bg-light">
      <div class="container">
        <div class="align-items-center d-flex row">
          <div class="col-md-7 py-5 py-lg-0">
            <h2 class="mb-4 font-weight-semi-bold">Improve Internal Communication</h2>
            <p class="text-justify">Training management is a learning platform designed to provide companies online
              training resources in order to make learning experiences more structured, for managers and employees both.
              Details such as test scores or time spent on training, can all be easily accessed to support learners. It
              allows you to create and upload specific e-learning courses, assign educational content to individuals or
              groups, keep track of their performance, and evaluate the results.</p>

            <a class="bg-transparent border-dark font-weight-semi-bold mt-4 text-info" href="javascript:void(0)">Read
              More <i class="pl-2 fa fa-arrow-circle-right"></i></a>
          </div>
          <div class="col-md-5 mobile-unset-class mt-lg-0">
            <img class="w-100 h-100 automate-img-height" src="../assets/img/training-management/improve-internal.svg"
              alt="improve-internal">
          </div>
        </div>
      </div>
    </div>

    <div class="simplified position-relative padding-tb-6">
      <div class="container">
        <div class="align-items-center d-flex row">
          <div class="col-md-5 mobile-unset-class mt-lg-0">
            <img class="w-100 h-100 automate-img-height" src="../assets/img/training-management/simplified.svg" alt="simplified">
          </div>
          <div class="col-md-7 py-5 py-lg-0">
            <h2 class="mb-4 font-weight-semi-bold">Simplified and Automated E-Learning</h2>
            <p class="text-justify">A Learning Management System is designed to organize your training delivery and
              optimize the commercial aspects of your business. Our training management software allows you to schedule
              courses, track payments, and business growth, and provide relevant marketing, all under one space. Having
              a go-to training software means all your data stays fresh and responsive to changes made in real-time.
              Automating manual processes is seamless and stress-free, as all training management aspects are already
              connected and in perfect sync with one another.</p>

            <a class="bg-transparent border-dark font-weight-semi-bold mt-4 text-info" href="javascript:void(0)">Contact
              Us</a>
          </div>
        </div>
      </div>
    </div>

    <div class="build-today">
      <div class="container padding-tb-6 bg-black cta-common-height d-flex align-items-center">
        <div class="d-flex">
          <div class="col-md-9 mx-auto text-center text-white">
            <h3 class="font-weight-semi-bold">Equip Your Staff for Success</h3>
            <p>Streamline and improve the ways your organization prepares employees to excel in their jobs and provide
              necessary education to ensure employees comply with industry standards. Effective training management
              offers a wealth of advantages including time and cost savings, as well as efficient onboarding. What are
              you waiting for?</p>
            <a href="/contact-us" class="bg-white btn font-weight-semi-bold mt-4 px-4 text-dark"
              type="submit">Contact Us <i class="pl-1 fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>